<div class="container">
    <h1>{{blog.title}}</h1>
    <p>{{blog.text}}</p>
    <small>Author: <a href="/users/{{author.id}}">{{author.username}}</a></small>
    <small>Created: {{blog.createdAt}}</small>
</div>